body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

#input-el {
    width: 100%;
    height: 40px;
    border: 1px solid #144272;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;

}


#save-btn {
    background-color: #144272;
    border: none;
    border-radius: 3px ;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: bold;
}



#save-btn:hover {
    background-color: #205295;
    cursor: pointer;
}

#savetab-btn {
    background-color: #144272;
    border: none;
    border-radius: 3px ;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: bold;
}



#savetab-btn:hover {
    background-color: #205295;
    cursor: pointer;
}

#clear-btn {
    box-sizing: border-box;
    border: 1px solid #205295;
    border-radius: 3px ;
    color: #205295;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: bold;
}



#clear-btn:hover {
    background-color: #c4def5;
    cursor: pointer;
}



ul {
    padding-left: 10px;
    margin-top: 25px;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    margin-left: 0px;
    margin-bottom: 10px;
}

a {
    color: #0c305f;
    font-size: 18px;
    
}

